*.log
wp-*.php

wp-admin/
wp-includes/
wp-content/
!wp-content/themes/optionmarine
!wp-content/themes/optionmarine/template-parts

node_modules/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/*.sql
/*.json

/index.php
/xmlrpc.php
wp-content/themes/optionmarine/library/css/img/yacht3.jpg
wp-content/themes/optionmarine/library/css/img/yacht3.jpg
*.jpg
