
.master-header {

    @include breakpoint(small only){
        background: $white;
        left: 0;
        transform: none;
        width: 100%;
        position: relative;
        z-index: 10;
    }
    
    left: 50%;
    transform: translate( -50%, 0 );
    width: 100%;
    max-width: 1046px;
    position: absolute;
       
    @include placeholder{
        transform: translate( -50%, 0 );
    }

   
    .header-mast__logo-holder {

        img{
            max-width: 281px;
            width: 100%;
            height: auto;
            padding-bottom: 5px;
          

            @include breakpoint(small only){
                max-width: 281px;
                width: 60%;
                height: auto;
                padding-bottom: 5px;
            }
        }
    }
  
    .header-mast__navigation {
        height: 0px;


        nav {
            position: relative;
            padding-top: 1.5em;
            float: right;

            @include breakpoint(small only){
                padding-top: 0;
                float: none;
            }
            
            .toggle {
                @include padding-all(5px, 17px, 5px ,17px); 
                display: block;
                float: right;
                position: absolute;
                right: 10px;
                bottom: 15px;
                box-sizing: border-box;
                text-align: right;
                background: $white;
                font-size: 30px;
                color: rgba(23, 136, 151, 1);
                border-radius: 10px;
                transition: all 3s ease-out;
                cursor: pointer;

                @include breakpoint(medium) {
                    display: none;
                    bottom: 75px;
                    right: 25px;
                }
            }

            .active {
                display: block;
            }

            ul {
                @include padding-all( 0px, 0px, 0px ,0px); 
                display: none;
                float: right;
                background: rgba(23, 136, 151, 1);
                width: 100%;

                @include breakpoint(medium) {
                    margin-top: 15px;
                    display: block;
                    background: transparent;
                }

                li {
                    display: block;           
                    list-style-type: none;
                   
        
                        @include breakpoint(small){
                          padding-left: 2em;
                        }
                
                        @include breakpoint(medium) {
                            display: inline-block;
                            padding: 10px 10px;
                        }

                        &:hover {
                            opacity: 0.8;
                        }

                        a {
                            text-decoration: none;
                            color: $white;
                            font-size: 18px;
                            font-weight: 600;

                            @include breakpoint(medium) {
                                color: $primary-font-color;
                            }
                            
                            .fa{
                                padding: 0.5em;
                                @include padding-all( 0.5em, 0.5em, 0.5em ,0.5em); 
                            }
                        }

                    &:last-child{
                        display: inline;
                        background: transparent;

                        @include breakpoint(small only){
                            display: block;
                        }
                    }
                }  
            }
        
            .menu-item-has-children {

                position: relative;
               
          
                .sub-menu {
                  
                    display: none;
                    width: auto;
                    position: absolute;
                    margin: 0;
                    background-color: $main-color;
                  

                    li{
                        @include padding-all( 5px, 5px, 5px ,5px); 
                        width: 100%;

                        a {
                            white-space: nowrap;
                            color: $white;
                        }
                    }
                }
                
                &:hover{
        
                    > .sub-menu{
                        display: block;

                        li{
                          
                            padding: 10px 10px;
                            border-bottom: 1px solid #FFF;
                            
                            &:last-child{
                                padding-right: 0;
                                border-bottom: 0 !important;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .nav{

                > .menu-item-has-children{
            
                    > .sub-menu{

                        > .menu-item-has-children{

                            &:hover{
                                opacity: 1;

                                .sub-menu{
                                    top: 0;
                                    left: 100%;
                                    background:rgba(23, 136, 151, 1);
                                    
                                    li{
                                        width: 100%;
                                        padding: 10px 10px;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
