.product_category {
    background: #f2f2f2;
    .row{
        text-align: center;

        @include breakpoint(medium){
            text-align: left;
        }

        .product_category-trail {
            color: #828282;
        }
    }
   

    .product-category__title {
        padding-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        color: #555555;

        @include breakpoint(medium){
           text-align: left;
        }
    }

    .product-category__description {
        text-align: left;
        color: #828282;
    }

    .product-category__uses {
        padding-top: 1em;
        margin-bottom: 1em;
        text-align: center;

        @include breakpoint(medium){
           text-align: left;
        }
    }

    .product-category__list {
        background: $main-color;

        .product-category__list-title {
            text-align: center;
            font-size: 22px;
            color: $white;

            @include breakpoint(medium){
                border-left: 0;
                text-align: left;
            }
        }

        .product-list__name {
            display: block;
            border-top: 1px solid $white;
            border-right: 1px solid $white;
            border-left: 1px solid $white;
            @include padding-all( 0.5em, 0em, 0.5em, 0em); 
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            text-align: center;
            font-size: 18px;
            color: $white;
            
            
           

            @include breakpoint(medium){
                border-left: 0;
                text-align: left;
            }

        }

        a {
            @include padding-all( 0.5em, 0em, 0.5em, 0em); 
            display: block;
            border-top: 1px solid $white;
            color: $white;
        }
    }
}