.hero-image{
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;

    @include breakpoint(medium) {
      height: 640px;
    }

    @include breakpoint(large) {
        height: 1024px;
    }
    
}