  /*======= Map Styling ============*/
#map {
  width: 100%;
  height: 230px;
  background-color: grey;

 /*Gmaps Styling*/

    a[href^="http://maps.google.com/maps"],
    a[href^="https://maps.google.com/maps"],
    a[href^="https://www.google.com/maps"] {
        display: none !important;
    }

    .gmnoprint:not(.gm-bundled-control) {
        display: none;
    }

    .gm-bundled-control .gmnoprint {
        display: block;
    }
}